<template name="about">

    <div class="row-fluid">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="no-margin">
            History
          </h3>
        </div>
        <div class="panel-body">
          <p>The Student Government has created Pawprints to be a platform on the Student Government website where individuals can create and sign petitions that call for action by the SG on a range of issues our students are facing. For each topic included in Pawprints, users can petition the Administration to address a problem, support or oppose a proposal, or otherwise change or continue SG policies or actions.</p>
        </div>
      </div>
    </div>

</template>
