<template name="petitionProcess">

  <h2 class="text-center"><p>The Petition Process</p></h2>

  <div class="panel panel-default">
    <div class="panel-body">
      <p>Search for petitions and if a petition similar to yours already exists, sign that petition. This will help raise support for issue and help you better reach the minimum threshold of 40 signatures (as of 09/15/2015) for receiving an official Student Government response.</p>
      <p> Use proper spelling and grammar when writing your petition. This will help other users find the petition more easily. Be sure to review our Moderation Policy before posting. <br /> (Be careful! You can't edit or delete a petition once it is submitted.)</p>
      <p>Use social media to spread awareness of your issue.</p>
      <p>A petition has one month to reach its threshold. If the threshold is not reached, then the petition is archived and available via the search. Student Government may elect to respond to a petition prior to reaching its threshold.</p>
    </div>
  </div>
</template>
